<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Tvrtko Tomić">
  <meta name="description" content="Web-stranica za prikaz podataka iz baze">
  <meta name="keywords" content="dućan, tehnika, web-stranica">
  <title>Info</title>
</head>
<body>
    <h1>Korisnički e-mail: {{session.userinfo.name}}</h1>
    <h1>Stanje verifikacije e-maila: {{session.userinfo.email_verified}}</h1>
    <h1>Korisnički nadimak: {{session.userinfo.nickname}}</h1>
    <h1>Zadnje ažuriran: {{session.userinfo.updated_at}}</h1>
        <p><a href="/home">Nazad</a></p>
</body>